.env
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/
Thumbs.db
*.log
*.sqlite3
*.db
docker-compose.override.yml
.env_encoded

# Python env
.venv-gcp/

# GCP creds
*.json

# OS / misc
.DS_Store

# dbt artifacts
target/
dbt_packages/


# dbt artifacts
target/
dbt_packages/
